<launch>
  <arg name="model" default="$(find move_base_ped)/urdf/robot_world_laser.xacro" />

  <arg name="map_file" default="$(find move_base_ped)/maps/new1.yaml"/>

  <!-- Run the map server-->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!--Run Amcl -->
  <!--<include file="$(find amcl)/examples/amcl_diff.launch"/>-->
   <include file="$(find move_base_ped)/launch/amcl.launch"/>
  

  <!--Run Move Base -->
  <include file="$(find move_base_ped)/launch/move_base.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!-- Start Rviz -->  
   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find move_base_ped)/rviz/nav.rviz" />

 <!-- state transform publisher 
    <node pkg="tf" type="static_transform_publisher" name="broadcaster" args="0 0 0 0 0 0 1 link_chassis base_footprint 100" /> -->

</launch>
